.shopcategory {
  width: 100%;
}
.shopcategory-banner {
  display: block;
  width: 100%;
  padding-top: 5px;
  object-fit: contain;
  background: rgba(178, 96, 58, 1);
  margin-bottom: 20px;
}
.shopcategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.categorysort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.shopcategory-sort {
  padding: 10px 10px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-products {
  width: 100%;
  padding: 30px 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  background-color: #f5f4f4;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 200px;
  height: 60px;
  border-radius: 75px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 80%;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 590px) {
  .shopcategory-products {
    width: 70%;
    gap: 15px;
    padding: 20px 60px;
  }
  .shopcategory-indexSort p {
    display: none;
  }
  .shopcategory-sort {
    padding: 5px 7px;
    font-size: 12px;
  }
  .shopcategory-indexSort {
    padding: 20px 60px;
    justify-content: center;
  }
}
