.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px black;
  margin-bottom: 1px;
  background-color: #d2b48c;
}
.nav-logo {
  width: 60px;
}
.navbar p {
  color: #171717;
  font-size: 28px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-profile {
  width: 75px;
}
.main-logo {
  width: 20px;
  height: 20px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-logo {
    width: 150px;
  }
  .nav-profile {
    width: 60px;
  }
}
